# Freenome Aliases
alias "cdgh"="cd ~/GitHub"
alias "cdfn"="cd ~/GitHub/freenome"
alias "cdme"="cd ~/GitHub/personal"
alias "cdos"="cd ~/GitHub/opensource"
alias "ds"="dyson sync . -p computational_dev"
alias "e2efrodo"="kubectl --context clinterfaces-dev -n frodo exec -it $(kubectl get pods --context clinterfaces-dev -n frodo -l app=frodo -l service=frodo | tail -n1 | cut -d' ' -f1) -c frodo -- python"
alias "e2egamgee"="kubectl --context orchid-dev -n gamgee logs -l app=gamgee -f"
alias "e2ehermes"="kubectl --context orchid-dev -n hermes exec -it $(kubectl get pods --context orchid-dev -n hermes -l app=hermes -l service=hermes | tail -n1 | cut -d' ' -f1) -c hermes -- python"
alias "e2einferno"="kubectl port-forward --context orchid-dev -n inferno svc/inferno 51235:8443"
alias "e2emirthad"="kubectl --context clinterfaces-dev -n mirth port-forward deploy/mirth 8444:8444"
alias "e2emirthor"="kubectl --context clinterfaces-dev -n mirth port-forward deploy/mirth 6688:6688"
alias "e2epersephone"="kubectl --context clinterfaces-dev -n persephone logs -l app=persephone -f"
alias "e2eregen"="kubectl --context orchid-dev -n regen logs -l app=regen -f"
alias "fndt"="cdfn && cd docker-base-images && make devtools"
alias "fnlint"="npx prettier -w '**/*.md' && autoflake -r --in-place --remove-all-unused-imports --ignore-init-module-imports --remove-duplicate-keys --remove-unused-variables ./ && black . && isort . && flake8 ."
alias "fnmshell"="kubectl --context kind-clinterfaces -n mirth exec -it deploy/test -- bash"
alias "fnmshellsvr"="kubectl --context kind-clinterfaces -n mirth exec -it deploy/mirth -- bash"
alias "fnvshell"="kubectl --context kind-clinterfaces -n virgil exec -it deploy/virgil -- bash"
alias "grcmp"="git restore . && git checkout main && git pull"
alias "gs"="git status"
alias "k8podsci"="kubectl --context clinterfaces-dev get pods -A"
alias "k8podsfrodo-dev"="kubectl --context clinterfaces-dev -n frodo get pods"
alias "k8podsmirth-dev"="kubectl --context clinterfaces-dev -n mirth get pods"
alias "k8podsor"="kubectl --context orchid-dev get pods -A"
alias "k8podspersephone-dev"="kubectl --context clinterfaces-dev -n persephone get pods"
alias "k8podsregen-dev"="kubectl --context orchid-dev -n regen get pods"
alias "k8podsvirgil-dev"="kubectl --context clinterfaces-dev -n virgil get pods"
alias "kubectl"="/opt/homebrew/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/bin/kubectl"
alias "mclean"="make cleanup-kind-cluster"
alias "ms"="make shell"
alias "msd"="make skaffold-dev"
alias "python"="python3.10"
alias "ti"="tar -zcvf"

# Utility Aliases
alias "budu"="brew update && brew doctor && brew upgrade"
alias "ddc"="docker stop $(docker ps -a -q) && docker rm $(docker ps -a -q) && docker rmi $(docker images -a -q) && docker system prune -af"
alias "speedtest"="networkquality -v"

# Aliases for my sons
alias "fish"="asciiquarium"
alias "train"="sl -l"
alias "silas"="figlet -f doh -w 120 SILAS"
alias "ezra"="figlet -f doh -w 120 EZRA"
alias "mom"="figlet -f doh -w 120 MOM"
alias "dad"="figlet -f doh -w 120 DAD"
alias "grandma"="figlet -f doh -w 200 GRANDMA"
